<script type="text/ng-template" id="/login.html">
    <form ng-submit="login()">
        <input type="text"
               autocomplete="off"
               required=""
               ng-model="user.username"
               maxlength="20"
               ng-disabled="lock"
                />
        <input type="password"
               required=""
               ng-model="user.password"
               maxlength="100"
               ng-disabled="lock"
                />
        <input type="submit" value="Войти" ng-disabled="lock"/>
    </form>
</script>